A tuple is a collection which is ordered and unchangeable, and allow duplicate values.

Tuples are written with round brackets.

Difference b/w list and tuple in one note

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
#with comma
thistuple = ("apple",)
print(f' with comma {type(thistuple)}')

#without comma it is consider as string 
thistuple = ("apple")
print(f' without comma {type(thistuple)}')

 with comma <class 'tuple'>
 without comma <class 'str'>

A tuple can contain different data types:

In [4]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [7]:
#The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(f'reverse {thistuple[::-1]}')

('apple', 'banana', 'cherry')
reverse ('cherry', 'banana', 'apple')

As tuples are immutable , to make it change (add or remove) we need to convert tuples to list then make change and then recovert to tuples

In [ ]:
#add items
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
y+=['Orange']
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry', 'Orange')

In [1]:
#Add tuple to a tuple.
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [12]:
#rmove items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [13]:
#del
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:,
But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [15]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [17]:
#The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.
fruits = ("apple", "banana", "cherry")

(green ,red) = fruits

print(green)
print(red)

ValueError: too many values to unpack (expected 2)

In [ ]:
#use of Asterisk 
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Looping is same as List

In [19]:
#Join Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [20]:
#Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [22]:
#tuples method
# count - number of times specified values repeated
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

#index - postion of value
histuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

2
3